{% extends "base.html" %}

<style>
button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

</style>


{% block content %}

<h3>Sign in</h3>

{% for message in messages %} 

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}

</div>

{% endfor %}


<div id="cssfile">

<form action="signin" method="post">

    {% csrf_token %}
    
    <div class="headingsContainer">
        <p>Sign in with your username and password</p>
    </div>

    <label for="">User name</label>
    <input type="text" id="username" name="username" placeholder="enter username" required>
<br><br>

    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="enter password" required>

<br>
    <button type="submit">Sign in</button>
<br>
<HR></HR>
<p>NOT A MEMBER?</p>

    <button style=" background-color: #6c6a6e;" type = "submit" ><a href="signup" style="color:white;">signup</a></button>

</form>

</div>
{% endblock %}